
.project-display-container{
    margin: 60px;
    text-align: center;

}

.github-link{
    width: 100px;
    height: 40px;
    background: linear-gradient(45deg, rgba(214,137,4,1) 0%, rgba(240,209,34,1) 96%);

    padding: 10px;
    margin: 10px;
    transition: all .2s ease-in-out;
}

.github-link:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg, rgb(236, 167, 46) 0%, rgb(251, 225, 75) 96%);
    cursor: pointer;
}

.github-link-image{
    width: 100%;
    height: 100%;
}

.site-link{
    width: 100px;
    height: 40px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    transition: all .2s ease-in-out;

}
.site-link:hover{
    transform: scale(1.1);
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}



.site-link-text{
    color:black;
    font-weight: 800;
    font-size: 20px;
}



.legend{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.legend-info{
    font-size: 20px;
}

.legend-title{
    width: 20px;
    height: 180px;
    /* background-color: red; */
    padding: 0 290px;
    /* margin: 0px 150px; */
}


.title-netflix{
    color:rgb(255, 90, 90);
}

.title-trash{
    color: rgb(143, 242, 143);
}

.title-storyStar{
    color:rgb(143, 195, 255);
}