

.contact-container{
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-copy{
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.contact-button{
    background: rgb(214,137,4);
    background: linear-gradient(45deg, rgba(214,137,4,1) 0%, rgba(240,209,34,1) 96%);
    padding: 70px 180px;
    border-width: 0;
    font-size: 42px;
    color: #FFFFFF;
    font-weight: 800;
    text-shadow: 3px 5px 2px #474747;
}

.contact-button:hover{
    background: linear-gradient(45deg, rgb(236, 167, 46) 0%, rgb(251, 225, 75) 96%);

    cursor: pointer;

}


.other-links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

.other-link-logo{
    margin: 20px;
    width:60px;
    height: 60px;
    transition: all .2s ease-in-out;
    opacity: 0.5;

}

.other-link-logo:hover{
    transform: scale(1.1);
    opacity: 1;

}